@page
@model ItalyTourAgency.Pages_Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<h1>Bookings</h1>
<table class="table">
    <thead>
        <tr>
            <th>
				Tour Dates
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].GroupSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Status)
            </th>
            <th>
                Tour Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @item.TourInstance.StartDate.ToString("yyyy-MM-dd") to @item.TourInstance.EndDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourInstance.Tour.Name)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
