@page
@model ItalyTourAgency.Pages_Admin_Tours_Instances.IndexModel

@{
    ViewData["Title"] = "Tour Instances";
}

<h1>Tour Instances</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tour Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourInstance[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourInstance[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourInstance[0].BookedSlots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourInstance[0].Status)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TourInstance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedSlots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
